<footer class="footer top-shadow">
    <div class="section">
        <div class="columns">
            <div class="column is-half">
                <div class="content">
                    <h3 class="has-text-white is-uppercase is-size-6">About</h3>
                    <p class="has-text-grey text-justify">MMCode.com WANTS TO BE SIMPLE is an initiative
                        to help the upcoming programmers with the code. MMCode focuses on providing the most
                        efficient code or snippets as the code wants to be simple. We will help programmers build up
                        concepts in different programming languages that include C, C++, Java, HTML, CSS, Bootstrap,
                        JavaScript, PHP, Android, SQL and Algorithm. Scanfcode.com CODE WANTS TO BE SIMPLE is an
                        initiative to help the upcoming programmers with the code. Scanfcode focuses on providing the
                        most efficient code or snippets as the code wants to be simple. We will help programmers build
                        up concepts in different programming languages that include C, C++, Java.
                    </p>
                </div>
            </div>

            <div class="column">
                <div class="content">
                    <h3 class="has-text-white is-uppercase is-size-6">Categories</h3>
                </div>
                <ul class="has-text-grey">
                    <li><a class="has-text-grey sublink:hover" href="#">C</a></li>
                    <li><a class="has-text-grey sublink" href="#">UI Design</a></li>
                    <li><a class="has-text-grey sublink" href="#">PHP</a></li>
                    <li><a class="has-text-grey sublink" href="#">Java</a></li>
                    <li><a class="has-text-grey sublink" href="#">Android</a></li>
                    <li><a class="has-text-grey sublink" href="#">Templates</a></li>
                </ul>
            </div>

            <div class="column">
                <div class="content">
                    <h3 class="has-text-white is-uppercase is-size-6">Links</h3>
                </div>
                <ul class="has-text-grey">
                    <li><a class="has-text-grey sublink is-hoverable" href="#">About Us</a></li>
                    <li><a class="has-text-grey sublink" href="#">Contact Us</a></li>
                    <li><a class="has-text-grey sublink" href="#">Contribute</a></li>
                    <li><a class="has-text-grey sublink" href="#">Privacy Policy</a></li>
                    <li><a class="has-text-grey sublink" href="#">Sitemap</a></li>
                </ul>
            </div>
        </div>

        <hr>
        
        <div class="columns">
            <div class="column mt-6">
                <p class="has-text-grey copyright-text"> hello@madalina.com © Madalina Jerca. All Rights Reserved. 
                    <a class="has-text-grey sublink" href="#">M Blog</a>.
                </p>
            </div>
            <div class="column mt-6">
                <span class="is-medium">
                    <ul class="social-icons is-flex is-justify-content-flex-end">
                        <li><a class="mr-2" href="#"><i class="fab fa-lg fa-facebook"></i></a></li>
                        <li><a class="mr-2" href="#"><i class="fab fa-lg fa-twitter"></i></a></li>
                        <li><a class="mr-2" href="#"><i class="fab fa-lg fa-dribbble"></i></a></li>
                        <li><a class="mr-2" href="#"><i class="fab fa-lg fa-linkedin"></i></a></li>
                    </ul>
                </span>
            </div>
        </div>
    </div>
</footer>