<div class="nav-container hero-head">
  <nav class="navbar hp-nav px-4 container is-fluid">
    <div class="container">
      <div class="navbar-brand">
        <a>
          <img src="//cdn-x.omniconvert.com/public/uploads/2022-02/b78182908d8850f890f1a4e10c5fa75d.png" alt="javascript logo" width="80" height="10">
        </a>
      </div>
      <span class="navbar-burger" data-target="navbarMenuHeroA">
        <span></span>
        <span></span>
        <span></span>
      </span>
      </div>
      <div id="navbarMenuHeroA" class="navbar-menu">
        <div class="navbar-end">
          <a class="navbar-item is-uppercase is-active" href="/">
            Home
          </a>
          <a class="navbar-item is-uppercase" href="/blog">
            Blog
          </a>
          <a class="navbar-item is-uppercase" href="#">
            Projects
          </a>
          <a class="navbar-item is-uppercase" href="/exercises">
            Exercises
          </a>
        </div>
      </div>
    </div>
  </nav>
</div>