/* Variables */
:root { 
    --font-size: 18px;
    --line-height: 1.5;
    --heading-font: 'Josefin Slab', Georgia, serif;
    --body-font: 'Josefin Slab', Georgia, serif;
    --heading-color: #000;
    --body-color: #3d3d3d;    
}
/* End of variables */

/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizelegibility;
}

html {
  font-family: var(--body-font);
  font-size: var(--font-size);
  line-height: var(--line-height);
  color: var(--body-color);
}

body {
  background-color: #bfc1c3b5;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  display: block;
}
/* End of reset CSS */

/* Typography */
h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
  color: var(--heading-color);
  font-weight: 700;
}

h1 { font-size: 2rem; }
h2 { font-size: 1.75rem; }
h3 { font-size: 1.5rem; }
h4 { font-size: 1.25rem; }
h5 { font-size: 1rem; }
h6 { font-size: 0.8rem; }

p, li {
  margin: 1rem 0;
}
/* End of typography */

/* Navigation bar */
.hero-head nav.navbar.hp-nav {
  position: absolute;
  background-color: transparent;
}

#navbarMenuHeroA a.navbar-item,
#navbarMenuHeroA a.navbar-item.is-active { 
  color: rgb(179, 179, 179) !important;
  letter-spacing: .092em;
}

a.navbar-item.is-active, 
a.navbar-item:hover {
  background-color: rgb(31 87 136 / 51%);
}

.navbar-item:before {
  display:block;
  content: '';
  border-top: solid 5px rgb(31 87 136 / 51%);  
  transform: scaleX(0);  
  transition: transform 250ms ease-in-out;
  padding-top: 0.4rem;
}
.navbar-item:hover:before { 
  transform: scaleX(1); 
}

/* logo */
.navbar-brand a img {
  width: 280px;
  padding-top: 10px;
}
/* End of navigation bar */

/* HERO section */
.hero.is-primary {
  background-color:rgb(100,100,100);
}

.hero::before {    
    content: "";
    background: url("//cdn-x.omniconvert.com/public/uploads/2022-02/3797eb45a25e6d3c3d89cf42896c5ba1.jpg") no-repeat fixed center;
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.75;
}

.hero .hero-body .title {
  color: rgba(255, 255, 255, 0.7);
  line-height: 1.5em;
}

.hero .hero-body .subtitle {
  color: #c7c1c1;
  font-weight: 600;
  line-height: 1.4;
}

.hero-body .hero-content {
  background-color: rgb(31 87 136 / 51%) !important;
  opacity: 0.75;
  padding: 1rem 1rem;
  border-radius: 1rem;
}
/* End of HERO section */

/* HERO animation */
.animation-hero-section {
  overflow: hidden;
}

/* Middle Line */
.animation-hero-section .animation-hero-caption:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 49%;
  width: 3px;
  height: 0;
  background-color: rgb(156, 154, 154, 100);
  transition: top .5s, height .5s;
}

.animation-hero-section:hover .animation-hero-caption:before, 
.animation-hero-section:active .animation-hero-caption:before {
  top: 0;
  height: 100%;
}

/* Left & Right Side */
.animation-hero-section .leftSide {
  position: absolute;
  top: 0;
  left: -125%;
  width: 50%;
  height: 100%;
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(56, 54, 54, 0.2) 100%);
  transition: left .7s;
}

.animation-hero-section .rightSide {
  background: linear-gradient(to left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .2) 100%);
}

.animation-hero-section:hover .leftSide,
.animation-hero-section:active .leftSide {
  left: 0;
}

.animation-hero-section:hover .rightSide,
.animation-hero-section:active .rightSide {
  left: 49%;
}

/* Text */
.animation-hero-section .rightInfo {
  opacity: 0;
  position: absolute;
  top: 50%;
  transition: opacity .6s, left .6s;
}

.animation-hero-section .rightInfo {
  transform: translateY(-50%);
  left: 100%;
}

.animation-hero-section:hover .rightInfo,
.animation-hero-section:active .rightInfo {
  opacity: 1;
  left: 53%;
}

.hero-body.rightInfo {
  max-width: 1000px;
  width: 100%;
}
/* End of HERO animation */

/* Code images container */
.container-code-images img {
  width: 650px;
  object-fit: cover;
  border-radius: 15px;
  box-shadow: 5px 5px 10px;
  /* Animation Images */
  -webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.container-code-images img:hover  {
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
}
/* End of code images container */

/* Laptop section */
.laptop-section .mockup {
  display: inline-block;
  position: relative;
  z-index: 3;
  text-align: center;
  font-size: 0;
  perspective: 2400px;
  perspective-origin: 50% 100%;
  opacity: 0;
  transition: 500ms opacity;
}

.laptop-section  .mockup.loaded {
  opacity: 1;
}

.laptop-section  .mockup .part .top,
.laptop-section .mockup .part .bottom {
  position: absolute;
  top: 0;
  left: 0;
}

.laptop-section .mockup .part.top {
  transform: translate3d(0, 0, 0) rotateX(-90deg);
}

.laptop-section .mockup:hover .part.top {
  transform: translate3d(0, 0, 0) rotateX(0deg);
}

.laptop-section .mockup .part {
  display: inline-block;
  position: relative;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  transform-origin: 50% 100%;
  transition: 900ms;
}

.laptop-section  .mockup.opened .part .top {
  transform: translate3d(0, 0, -11px) rotateX(90deg) scale(1, 1);
}

.laptop-section .mockup .part .top {
  transform-origin: 50% 0;
  transform: translate3d(0, 0, -11px) rotateX(90deg);
  transition: 900ms;
}

.laptop-section .mockup img {
  display: block;
  max-width: 100%;
  backface-visibility: hidden;
}

.laptop-section .mockup .part .cover {
  position: relative;
}

.laptop-section .mockup video {
  display: block;
  position: absolute;
  top: 8%;
  left: 4%;
  width: 92%;
  border-radius: 6px;
  backface-visibility: hidden;
  transform: translate3d(0, 0, 1px);
}

.laptop-section .mockup .part.bottom {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate3d(0, 0, 0) rotateX(-90deg);
}

.laptop-section .mockup .part .bottom {
    transform-origin: 50% 0;
    transform: translate3d(0,0,0) rotateX(90deg);
}
/* End of laptop section */

/* FOOTER */
.footer {
  background-color:#151617 !important;
  margin-top: 55px;
  padding: 1rem 3rem 1rem 3rem;    
}

footer .columns {
  gap: 1rem;
}

footer hr {
  border-top-color: #bbb;
  height: 1px;
  opacity: 0.5;
}

footer .social-icons a {
  color:#818a91;
  transition:all .2s linear;
}

footer .copyright-text, .social-icons {
  @media screen and (max-width: 767px) {
      text-align: center !important;
      justify-content: center !important;
  }
}

footer a:hover {
  color:#3366cc;
}

footer .section {
  @media screen and (min-width: 1024px) {
      padding: 2rem 4rem 2em 4rem;
  }    
}

@media screen and (max-width: 767px) {
  .footer {
    padding: 1rem 0 1rem 0;
  }
}

.top-shadow {
  border: 1px solid #25232370;
  -webkit-box-shadow: 0px -4px 3px rgb(50 50 50 / 75%);
  -moz-box-shadow: 0px -4px 3px rgba(88, 86, 86, 0.603);
  box-shadow: 0px -8px 20px 4px rgb(89 87 87 / 75%);
 
}
/* END OF FOOTER */